.members-three {
    background: #1EB2FF;
    .members-three-backgroud{
        height: calc(100vh - 102px);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        background-image: url("../images/Solutions/backgroud-frame-one.webp");
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
        padding-bottom: 56px;
    }
    .members-three-content {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
        display: flex;
    }
    .services-content {
        justify-content: center;
    }
    .services-box {
        width: 158px;
        height: 122px;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.16);
        text-align: center;
    }
    .icon-arrow1 {
        position: absolute;
        top: 190px;
        left: 185px;
    }
    .icon-arrow2 {
        position: absolute;
        top: 190px;
        left: 185px;
    }
    .icon-arrow3 {
        position: absolute;
        top: 190px;
        left: 185px;
    }
    .icon-arrow4 {
        position: absolute;
        top: 190px;
        left: 185px;
    }
    .service-group {
        margin-left: 64px;
    }
    .service-group-box-1 {
        margin-left: 20px !important;
    }
    .services-box-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        color: #222222;
    }
}