.solutions-one {
    background: #1EB2FF;
    .solutions-backgroud {
        height: calc(100vh - 102px);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        background-image: url("../images/Solutions/backgroud-frame-one.webp");
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .solutions-contain {
        width: 100%;
    }
    .solutions-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
    }
    .solutions-content {
        padding: 35px 60px;
    }
    .solutions-content-col {
        padding: 0px
    }
    .box-text {
        // width: 613px;
        height: 210px;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        // padding: 35px;
        padding: 35px 32px 70px 32px;
    }
    .box-title-telecom {
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #222222;
        padding-left: 14px;
        padding-top: 5px;
    }
    
    .box-text-content {
        padding-top: 20px;
        // padding-bottom: 50px;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #222222;
    }
    .box-text-content-col {
        text-align: left;

    }
    li::marker{
        color:  #1EB2FF;
    }
    .box-text-content-col > ul {
        line-height: 150%;
        padding-left: 0px;
        font-weight: 400;
        font-size: 16px;
        color: #222222;
    }
    .col-right {
        padding-left: 10px;
    }
    .col-left {
        padding-right: 10px;
    }
    .box-image {
        padding-top: 30px;
    }
    .box-image-col-1 {
        padding-left: 0px;
    }
    .box-image-col-2 {
        padding-right: 0px;
    }
    .box-image-1 {
        width: 100%;
        height: 210px;
    }
    .box-image-2 {
        width: 100%;
        height: 210px;
    }
    .box-image-right {
        padding-bottom: 30px;
    }
    .box-title-commerce-right {
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #222222;
        padding-left: 14px;
    }
    .box-image-col-3 {
        width: 100%;
    }
    .unactive {
        display: none;
    }
}

@media screen and (max-width: 1366px) {
    .solutions-one {
        .box-text-content-col > ul {
            line-height: 150%;
        }
    }
}