.solutions-two {
    background: #1EB2FF;
    .solutions-backgroud {
        height: calc(100vh - 102px);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        background-image: url("../images/Solutions/backgroud-frame-one.webp");
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .solutions-contain {
        width: 100%;
    }
    .solutions-content-col {
        padding: 0px;
    }
    .solutions-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
        padding-bottom: 35px;
    }
    .solutions-content {
        padding-left: 60px;
        padding-right: 60px;
    }
    .finance-insurance-col {
        padding-left: 0px;
        padding-right: 0px;
    }
    .finance-insurance {
        background: #FFFFFF;
        padding-top: 35px;
        padding-left: 32px;
        // padding-bottom: 38px;
        height: 438px;
        width: 326px;
    }
    .box-title-finance {
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #222222;
        padding-left: 14px;
        padding-top: 5px;
    }
    .finance-insurance-text {
        padding-top: 20px;
        text-align: left;
    }
    li::marker{
        color:  #1EB2FF;
    }
    .finance-insurance-text > ul {
        line-height: 190%;
        padding-left: 20px;
        font-weight: 400;
        font-size: 16px;
        color: #222222;
    }
    .healthcare-col {
        padding-left: 44px;
        padding-right: 0px;
    }
    .healthcare {
        background: #FFFFFF;
        padding-top: 35px;
        padding-left: 32px;
        // padding-bottom: 101px;
        height: 438px;
        width: 326px;
    }
    .unactive {
        display: none;
    }
    .solutions-image-col {
        padding-left: 90px;
    }
    .image-5 {
        width: 100%;
        height: 211px;
    }
    .image-4 {
        width: 100%;
        height: 211px;
    }
    .solutions-image-5 {
        padding-bottom: 8px;
    }
    .solutions-image-4 {
        padding-top: 8px;
    }
}