.TechnologySolutions-contain {
    padding-top: 160px;
    // padding-left: 100px;
    padding-right: 25px;
    .technology-title-contain {
        text-align: center;
        color: #222222;
         > div {
            font-weight: 700;
            font-size: 48px;
            line-height: 120%;
        }
        > span {
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            padding-top: 16px;
        }
    }
    .technology-conttent-contain {
        padding-top: 60px;
        display: flex;
    }
    .technology-contain-box {
        padding-right: 70px;
    }
    .technology-box {
        padding-left: 0px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    }
    .technology-box-icon {
        width: 170px;
        background: #1EB2FF;
        height: 124px;
        padding-left: 0px;
        text-align: center;
        padding-top: 35px;
    }
    .technology-box-text {
        background: #ffffff;
        padding-left: 42px;
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        color: #222222;
        width: 100%;
    }
    .technology-box-text-padding {
        padding-top: 48px;
    }
    .technology-contain-box-right {
        padding-left: 0px;
        padding-right: 0px;
    }
    .technology-box-text-padding-34 {
        padding-top: 48px;
    }
    .technology-box-text-padding-34-nav {
        padding-top: 48px;
    }
    .technology-box-text-padding-48 {
        padding-top: 48px;
    }
}


@media screen and (max-width: 768px) {
    .TechnologySolutions-contain {
        .technology-conttent-contain {
            left: 33px;
        }
        .technology-conttent-contain {
            display: block;
        }
        .technology-contain-box {
            padding-right: 0px;
        }
        .technology-box-text-padding-34 {
            padding-top: 48px;
        }
        .technology-box-text-padding-34-nav {
            padding-top: 48px;
        }
        .technology-box-text-padding-48 {
            padding-top: 48px;
        }
        .technology-title-contain > div {
            font-size: 40px;
        }
        .technology-conttent-contain {
            padding-top: 32px;
        }
    }
}

@media screen and (max-width: 425px) {
    .TechnologySolutions-contain {
        .technology-box-text {
            padding-left: 20px;
            padding-right: 23px;
        }
        .technology-box-text-padding-34 {
            padding-top: 34px;
        }
        .technology-box-text-padding-34-nav {
            padding-top: 48px;
        }
        .technology-box-text-padding-48 {
            padding-top: 48px;
        }
    }
}

@media screen and (max-width: 375px) {
    .TechnologySolutions-contain {
        .technology-box-text-padding-34-nav {
            padding-top: 34px;
        }
    }
}